
.mohi-link.mohi-color-link {
  color: #f44336
}

.mohi-link.mohi-color-link:hover {
  color: #f44336;
}
.mohi-btn {
  background: #f44336;
}

blockquote {
  background: #f44336;
}

.mohi-custom-list li:before {
  border: solid 2px #f44336;
}

.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp {
  background: #f44336;
}

.mohi-info-bar .mohi-name:hover a {
  color: #f44336
}

.mohi-info-bar .mohi-knowledge-list li:before {
  color: #f44336;
}

.mohi-menu-bar .mohi-language-change li.mohi-active-lang {
  background-color: #f44336;
}

.mohi-code i {
  color: #f44336
}

.mohi-counter-frame .mohi-counter-box .mohi-counter {
  color: #f44336;
}

.mohi-counter-frame .mohi-counter-box .mohi-counter-plus {
  color: #f44336;
}

.mohi-price.mohi-popular-price:before {
  background: #f44336
}

.mohi-price .mohi-price-body .mohi-price-cost .mohi-number {
  color: #f44336;
}

.mohi-price .mohi-price-body .mohi-price-list li:before {
  color: #f44336
}

.mohi-price .mohi-price-body .mohi-price-list li.mohi-empty-item:before {
  color: #f44336
}

.mohi-testimonial .mohi-testimonial-footer .mohi-star-rate {
  color: #f44336
}

.mohi-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f44336;
}

.fancybox-progress {
  background: #f44336;
}

.fancybox-thumbs__list a:before {
  border-color: #f44336;
}

.mohi-timeline .mohi-timeline-item .mohi-timeline-mark {
  border: solid 3px #f44336;
}

.mohi-form-field textarea.mohi-active {
  border-color: #f44336;
}

.mohi-form-field textarea:focus {
  border-color: #f44336
}

.mohi-contact-form .mohi-input.mohi-active+label, .mohi-contact-form .mohi-input:focus+label {
  background: #f44336;
}

.mohi-pagination .mohi-pagination-center a.mohi-active-pag {
  color: #f44336
}

.mohi-preloader-load path:last-child {
  stroke: #f44336;
}

.mohi-line-progress path:last-child {
  stroke: #f44336;
}

.mohi-cirkle-progress path:last-child {
  stroke: #f44336;
}
