/* ----- fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ----- text defaults ----- */
body {
  color: #8c8c8e;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-smooth: subpixel-antialiased;
}

/* ----- title defaults ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #fafafc;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h4 {
  font-size: 17px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 400;
}

/* ----- text config ----- */
.mohi-sm-text {
  font-size: 11px;
}

.mohi-lg-text {
  font-size: 16px;
}

.mohi-white {
  color: #fafafc;
}

/* ----- container ----- */
.container-fluid {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}

/* ----- buttons frame ----- */
.mohi-buttons-frame a {
  margin-right: 15px;
}

/* ----- suptitle ----- */
.mohi-el-suptitle {
  margin-top: 5px;
  color: #646466;
  font-style: italic;
  font-size: 11px;
}

/* ----- divider ----- */
.mohi-ls-divider {
  background: #646466;
  width: 100%;
  height: 1px;
  opacity: 0.3;
}

/* ----- image defaults ----- */
.mohi-img-default {
  width: 100%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

/* ----- link defaults ----- */
a {
  text-decoration: none;
  color: #8c8c8e;
}
a:hover {
  text-decoration: none;
  color: #fafafc;
}
a:focus {
  outline: inherit;
}

/* ----- table ----- */
.mohi-table {
  color: #8c8c8e;
}
.mohi-table ul {
  padding: 0;
  margin: 0;
}
.mohi-table ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.mohi-table ul li:last-child {
  margin-bottom: 0;
}

/* ----- quote ----- */
blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #FFC107;
  color: #191923;
  padding: 30px;
  padding-left: 35px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  position: relative;
}
blockquote:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  font-size: 18px;
  opacity: .5;
  top: 5px;
  left: 9px;
  color: #fafafc;
}
blockquote:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  font-size: 18px;
  opacity: .5;
  bottom: 5px;
  right: 9px;
  color: #fafafc;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* ----- list ----- */
.mohi-custom-list {
  padding-left: 25px;
}
.mohi-custom-list li {
  position: relative;
  list-style-type: none;
  color: #fafafc;
  margin-bottom: 5px;
}
.mohi-custom-list li:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px #FFC107;
  background: transparent;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

/* ------------------------------

link

------------------------------ */
.mohi-link {
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #8c8c8e;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-link:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.mohi-link.mohi-white-link {
  color: #fafafc;
}
.mohi-link.mohi-white-link:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.mohi-link.mohi-color-link {
  color: #FFC107;
}
.mohi-link.mohi-color-link:hover {
  color: #FFC107;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.mohi-link.mohi-w-chevron {
  padding-right: 10px;
}
.mohi-link.mohi-w-chevron:after {
  position: absolute;
  font-family: "Font Awesome 5 free";
  content: '\f054';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  top: 0.3px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-link.mohi-w-chevron:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mohi-link.mohi-w-chevron:hover:after {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.mohi-link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.mohi-link i {
  font-size: 9px;
  margin-left: 3px;
}
.mohi-link.mohi-left-link {
  padding-left: 10px;
  padding-right: 0;
}
.mohi-link.mohi-left-link.mohi-w-chevron:after {
  content: '\f053';
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mohi-link.mohi-left-link.mohi-w-chevron:hover:after {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

/* ------------------------------

button

------------------------------ */
.mohi-btn {
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  color: #20202a;
  background: #FFC107;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-btn span {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.mohi-btn.mohi-btn-md {
  height: 45px;
  font-size: 11px;
  padding: 0 35px;
}
.mohi-btn.mohi-btn-sm {
  height: 40px;
  font-size: 11px;
  padding: 0 30px;
}
.mohi-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #1e1e28;
}

/* ------------------------------

space

------------------------------ */
.p-30-0 {
  padding-top: 30px;
  padding-bottom: 0;
}

.p-0-30 {
  padding-top: 0;
  padding-bottom: 30px;
}

.p-30-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-30-15 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.p-15-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-15-0 {
  padding-top: 15px;
  padding-bottom: 0;
}

.p-60-0 {
  padding-top: 60px;
  padding-bottom: 0;
}

.p-230-0 {
  padding-top: 230px;
  padding-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 25px;
}

@media (max-width: 1400px) {
  .p-lg-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 920px) {
  .p-md-15-0 {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
/* ------------------------------

app marcup

------------------------------ */
/* ----- top background ----- */
.mohi-top-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  background-position: center;
  height: 400px;
  background-size: cover;
}
.mohi-top-bg .mohi-top-bg-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 40, 0.93)), color-stop(70%, rgba(30, 30, 40, 0.96)), color-stop(80%, rgba(30, 30, 40, 0.99)), to(#1e1e28));
  background-image: linear-gradient(180deg, rgba(30, 30, 40, 0.93) 0%, rgba(30, 30, 40, 0.96) 70%, rgba(30, 30, 40, 0.99) 80%, #1e1e28 100%);
}

/* ----- preloader ----- */
.mohi-preloader {
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background: #20202a;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mohi-preloader .mohi-preloader-content {
  margin-bottom: 15px;
  text-align: center;
}
.mohi-preloader .mohi-preloader-content .mohi-preloader-load {
  margin-top: 5px;
  width: 200px;
}
.mohi-preloader .mohi-preloader-content .mohi-preloader-load .progressbar-text {
  position: relative;
  font-size: 14px;
  font-weight: 400 !important;
  color: #8c8c8e !important;
  height: 300px;
  line-height: 350px;
}

.mohi-preloader-load path:first-child {
  stroke: #191923;
}
.mohi-preloader-load path:last-child {
  stroke: #FFC107;
}

/* ----- scroll frame ----- */
.mohi-scroll-frame {
  width: 100%;
  height: calc(100vh - 30px);
}

.scrollbar-track {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* ----- app ----- */
.mohi-app {
  padding: 15px;
  background: #191923;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* ----- mobile top bar ----- */
}
.mohi-app * {
  scrollbar-width: none;
}
.mohi-app ::-webkit-scrollbar {
  display: none;
}
.mohi-app .mohi-mobile-top-bar {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 70px;
  background: #20202a;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 0 30px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mohi-app .mohi-app-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #1e1e28;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.mohi-app .mohi-app-wrapper .mohi-app-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* ----- info bar ----- */
  /* ----- content ----- */
  /* ----- menu bar ----- */
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar {
  background: #20202a;
  width: 290px;
  min-width: 290px;
  height: calc(100vh - 30px);
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame {
  padding: 0 15px;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame .mohi-info-bar-header {
  width: 100%;
  height: 70px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999999999;
  display: none;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame .mohi-info-bar-header .mohi-info-bar-btn {
  margin-left: auto;
  pointer-events: all;
  font-size: 14px;
  padding: 30px;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame .mohi-info-bar-header .mohi-info-bar-btn.mohi-disabled {
  opacity: 0;
  pointer-events: none;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame .mohi-scroll-frame .scroll-content {
  padding: 240px 0 50px;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 30px);
  padding-right: 80px;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content .mohi-curtain {
  background: rgba(30, 30, 40, 0.88);
  position: absolute;
  z-index: 9;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content.mohi-active {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content.mohi-active .mohi-curtain {
  pointer-events: all;
  opacity: 0.7;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar {
  background: #20202a;
  width: 230px;
  height: calc(100vh - 30px);
  position: absolute;
  z-index: 99;
  right: -150px;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar .mohi-menu-bar-frame {
  position: relative;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar .mohi-menu-bar-frame .mohi-menu-bar-header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar .mohi-menu-bar-frame .mohi-menu-bar-header .mohi-menu-bar-btn {
  pointer-events: all;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar .mohi-menu-bar-frame .mohi-menu-bar-header .mohi-menu-bar-btn.mohi-disabled {
  opacity: 0;
  pointer-events: none;
}
.mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar.mohi-active {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

/* ------------------------------

app marcup (after 920px)

------------------------------ */
@media (max-width: 920px) {
  /* ----- container ----- */
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ----- preloader ----- */
  .mohi-preloader {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  /* ----- scroll frame ----- */
  .mohi-scroll-frame {
    height: 100vh;
  }

  .mohi-app {
    padding: 0;
    /* ----- mobile top bar ----- */
  }
  .mohi-app .mohi-mobile-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mohi-app .mohi-app-wrapper {
    border-radius: 0;
    height: 100vh;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container {
    width: 100%;
    /* ----- info bar ----- */
    /* ----- content ----- */
    /* ----- menu bar ----- */
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar {
    position: absolute;
    left: -290px;
    width: 290px;
    height: 100vh;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar.mohi-active {
    -webkit-transform: translateX(290px);
            transform: translateX(290px);
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame .mohi-info-bar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar .mohi-info-bar-frame .mohi-info-bar-header .mohi-info-bar-btn {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-info-bar.mohi-active .mohi-info-bar-frame .mohi-info-bar-btn {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-right: 0;
    padding-top: 70px;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content .mohi-scroll-frame {
    height: calc(100vh - 70px);
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content.mohi-active {
    -webkit-transform: none;
            transform: none;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-content.mohi-active .mohi-curtain {
    pointer-events: all;
    opacity: 1;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar {
    position: absolute;
    right: -230px;
    width: 230px;
    height: 100vh;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar.mohi-active {
    -webkit-transform: translateX(-230px);
            transform: translateX(-230px);
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar .mohi-menu-bar-btn {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .mohi-app .mohi-app-wrapper .mohi-app-container .mohi-menu-bar.mohi-active .mohi-menu-bar-btn {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* ------------------------------

app marcup (after 290px)

------------------------------ */
@media (max-width: 290px) {
  .mohi-app {
    /* ----- info bar ----- */
  }
  .mohi-app .mohi-info-bar {
    width: 100vw;
  }
}
/* ------------------------------

app marcup (after 230px)

------------------------------ */
@media (max-width: 230px) {
  .mohi-app {
    /* ----- menu bar ----- */
  }
  .mohi-app .mohi-menu-bar {
    width: 100vw;
  }
}
.mohi-app-onepage .mohi-app-wrapper .mohi-app-container .mohi-content {
  padding-right: 0;
}

/* ------------------------------

info bar

------------------------------ */
.mohi-info-bar {
  padding: 0 15px;
  /* ----- header ----- */
  /* ----- name ----- */
  /* ----- language skills ----- */
  /* ----- hard skills ----- */
  /* ----- knowledge ----- */
  /* ----- info bar links ----- */
  /* ----- social links ----- */
}
.mohi-info-bar .mohi-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  padding: 30px;
  height: 235px;
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
  text-align: center;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
}
.mohi-info-bar .mohi-header .mohi-avatar {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-avatar-curtain {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: inherit;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 0;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-avatar-curtain i {
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
  width: 30px;
  height: 30px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 30px;
  color: #fafafc;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-avatar-curtain img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  z-index: 0;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-avatar-curtain:hover {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  outline: inherit;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-avatar-curtain:hover i {
  opacity: .7;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-avatar-curtain:hover i:hover {
  opacity: 1;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light {
  z-index: 2;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 1px;
  background: #fafafc;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  -webkit-animation: puls 1s infinite;
          animation: puls 1s infinite;
}
@-webkit-keyframes puls {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes puls {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp {
  position: absolute;
  bottom: 3px;
  right: 5px;
  height: 15px;
  width: 15px;
  background: #FFC107;
  border-radius: 50%;
  z-index: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp:after {
  position: relative;
  content: 'I am available for freelance hire';
  width: 115px;
  display: block;
  padding: 5px 10px;
  top: -10px;
  left: 28px;
  font-size: 10px;
  font-weight: 200;
  color: #8c8c8e;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  background: #191923;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  text-align: left;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  right: -15px;
  top: 5px;
  opacity: 0;
  background: #191923;
  pointer-events: none;
  -webkit-transform: translateX(20px) rotate(45deg);
          transform: translateX(20px) rotate(45deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 99;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light .mohi-available-lamp:hover:before {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light.mohi-not-available:before {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light.mohi-not-available .mohi-available-lamp {
  background: red;
}
.mohi-info-bar .mohi-header .mohi-avatar .mohi-lamp-light.mohi-not-available .mohi-available-lamp:after {
  content: "Sorry I'm busy today";
}
.mohi-info-bar .mohi-name {
  color: #fafafc;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-info-bar .mohi-name a {
  color: #fafafc;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-info-bar .mohi-name:hover a {
  color: #FFC107;
}
.mohi-info-bar .mohi-lang-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mohi-info-bar .mohi-lang-skills .mohi-lang-skills-item {
  width: 33.33333%;
  text-align: center;
  margin-bottom: 15px;
}
.mohi-info-bar .mohi-lang-skills .mohi-lang-skills-item .mohi-cirkle-progress {
  width: 65%;
  margin: 0 auto 15px;
}
.mohi-info-bar .mohi-lang-skills .mohi-lang-skills-item .mohi-cirkle-progress .progressbar-text {
  font-size: 11px;
  color: #8c8c8e !important;
  position: relative;
  left: 45% !important;
}
.mohi-info-bar .mohi-lang-skills .mohi-lang-skills-item .mohi-cirkle-progress .progressbar-text:after {
  content: '%';
  position: absolute;
  right: -7px;
}
.mohi-info-bar .mohi-hard-skills .mohi-hard-skills-item {
  margin-bottom: 15px;
  position: relative;
}
.mohi-info-bar .mohi-hard-skills .mohi-hard-skills-item .mohi-skill-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mohi-info-bar .mohi-hard-skills .mohi-hard-skills-item .mohi-line-progress {
  width: 100%;
}
.mohi-info-bar .mohi-hard-skills .mohi-hard-skills-item .mohi-line-progress .progressbar-text {
  width: 100%;
  text-align: right;
  top: -6px !important;
  font-size: 11px;
  color: #8c8c8e !important;
}
.mohi-info-bar .mohi-knowledge-list {
  padding-left: 0;
}
.mohi-info-bar .mohi-knowledge-list li {
  list-style-type: none;
  margin-bottom: 5px;
  color: #8c8c8e;
}
.mohi-info-bar .mohi-knowledge-list li:last-child {
  margin-bottom: 0;
}
.mohi-info-bar .mohi-knowledge-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 5px;
  font-size: 9px;
  color: #FFC107;
  margin-right: 10px;
}
.mohi-info-bar .mohi-links-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mohi-info-bar .mohi-ls-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  height: 50px;
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  left: 0;
  width: 100%;
  z-index: 999;
}
.mohi-info-bar .mohi-ls-social a {
  color: #8c8c8e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.mohi-info-bar .mohi-ls-social a:hover {
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
  color: #fafafc;
}

/* ----- progresbar color ----- */
.mohi-line-progress path:first-child {
  stroke: #191923;
}
.mohi-line-progress path:last-child {
  stroke: #FFC107;
}

.mohi-cirkle-progress path:first-child {
  stroke: #191923;
}
.mohi-cirkle-progress path:last-child {
  stroke: #FFC107;
}

/* ------------------------------

menu bar

------------------------------ */
.mohi-menu-bar {
  /* ----- main menu  ----- */
  /* ----- language change  ----- */
  /* ----- current page title ----- */
}
.mohi-menu-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
.mohi-menu-bar nav .main-menu {
  width: 100%;
  padding: 0;
  margin: 0 0 60px;
}
.mohi-menu-bar nav .main-menu .menu-item {
  width: 100%;
  list-style-type: none;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  transition: 0.55s ease-in-out;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.mohi-menu-bar nav .main-menu .menu-item:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.mohi-menu-bar nav .main-menu .menu-item a {
  padding: 7px 30px;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #8c8c8e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.mohi-menu-bar nav .main-menu .menu-item a:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.mohi-menu-bar nav .main-menu .menu-item.menu-item-has-children {
  padding-left: 0;
  padding-right: 0;
}
.mohi-menu-bar nav .main-menu .menu-item.menu-item-has-children:after {
  position: absolute;
  font-family: "Font Awesome 5 free";
  content: '\f054';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  top: 6px;
  right: 30px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu {
  padding-left: 0;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  background: #20202a;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  max-height: 0;
  -webkit-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item {
  position: relative;
  opacity: 0;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item a {
  padding: 7px 30px;
  font-weight: 400;
  font-size: 10px;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item .sub-menu {
  margin: 0;
  max-height: 0;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item:hover.menu-item-has-children:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item:hover .sub-menu {
  max-height: 500px;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item:first-child {
  margin-top: 15px;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu .menu-item:last-child {
  margin-bottom: 15px;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu.mohi-active {
  pointer-events: all;
  max-height: 500px;
}
.mohi-menu-bar nav .main-menu .menu-item .sub-menu.mohi-active .menu-item {
  opacity: 1;
}
.mohi-menu-bar nav .main-menu .menu-item:hover.menu-item-has-children:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mohi-menu-bar nav .main-menu .menu-item.current-menu-item a:first-child {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.mohi-menu-bar nav .main-menu .menu-item.current-menu-item .sub-menu .menu-item a {
  color: #8c8c8e;
  text-shadow: none;
}
.mohi-menu-bar nav .main-menu .menu-item.current-menu-item .sub-menu .menu-item a:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.mohi-menu-bar .mohi-language-change {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
  padding: 30px 26px;
  margin: 0;
}
.mohi-menu-bar .mohi-language-change li {
  list-style-type: none;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  background: #1e1e28;
  font-size: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}
.mohi-menu-bar .mohi-language-change li a {
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: 25px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-menu-bar .mohi-language-change li.mohi-active-lang {
  background-color: #FFC107;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.mohi-menu-bar .mohi-language-change li.mohi-active-lang a {
  color: #1e1e28;
}
.mohi-menu-bar .mohi-language-change li:last-child {
  margin-bottom: 0;
}
.mohi-menu-bar.mohi-active nav .menu-item {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mohi-menu-bar .mohi-current-page {
  width: 200px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fafafc;
  position: absolute;
  overflow: hidden;
  top: 200px;
  opacity: 1;
  left: -62px;
  text-transform: uppercase;
  font-size: 11px;
  opacity: 1;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-menu-bar a {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.mohi-menu-bar a:first-child {
  visibility: visible;
  opacity: 1;
  display: block;
}
.mohi-menu-bar.mohi-active .mohi-current-page {
  opacity: 0;
}

/* ------------------------------

content

------------------------------ */
/* ----- section title ----- */
.mohi-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mohi-section-title .mohi-title-frame {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-bottom: 30px;
}
.mohi-section-title .mohi-right-frame {
  padding-bottom: 30px;
}

/* ----- card ----- */
.mohi-card {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 30px;
  margin-bottom: 30px;
}
.mohi-card.mohi-fluid-card {
  height: calc(100% - 30px);
}

/* ----- banner ----- */
.mohi-banner-back {
  content: '';
  position: absolute;
  z-index: 0;
  top: -30px;
  width: 90%;
  height: 30px;
  margin-left: 5%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: rgba(30, 30, 40, 0.88);
}

.mohi-banner {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  z-index: 999;
}
.mohi-banner .mohi-banner-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0.7)));
  background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%);
}
.mohi-banner .mohi-banner-overlay.mohi-side-overlay {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0)));
  background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0) 100%);
}
.mohi-banner .mohi-banner-overlay .mohi-banner-title {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
.mohi-banner .mohi-banner-overlay .mohi-banner-title h1 {
  color: #fafafc;
}
.mohi-banner .mohi-banner-overlay .mohi-banner-photo {
  width: 390px;
  position: absolute;
  right: 30px;
  bottom: 0;
}

/* ----- typing code ----- */
.mohi-code {
  font-family: "Courier Prime", monospace;
  color: #fafafc;
}
.mohi-code i {
  font-style: normal;
  color: #FFC107;
}

/* ----- counters ----- */
.mohi-counter-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  opacity: 0;
  position: relative;
}
.mohi-counter-frame .mohi-counter-box {
  min-width: 60px;
}
.mohi-counter-frame .mohi-counter-box .mohi-counter {
  color: #FFC107;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}
.mohi-counter-frame .mohi-counter-box .mohi-counter-plus {
  margin-left: 3px;
  color: #FFC107;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

/* ----- services ----- */
.mohi-service-icon-box {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
}
.mohi-service-icon-box .mohi-service-ib-content {
  padding: 30px;
}
.mohi-service-icon-box .mohi-service-ib-content .mohi-service-ib-icon {
  position: absolute;
  right: 10px;
  bottom: -45px;
  opacity: 0.03;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  -ms-flex-item-align: center;
      align-self: center;
}

/* ----- prices ----- */
.mohi-price {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  text-align: center;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-price.mohi-popular-price {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.mohi-price.mohi-popular-price:before {
  font-size: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 99;
  top: 18px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  font-weight: 600;
  color: #1e1e28;
  right: -72px;
  content: 'POPULAR';
  padding: 2px;
  width: 200px;
  text-align: center;
  background: #FFC107;
}
.mohi-price .mohi-price-body {
  position: relative;
  padding: 30px;
}
.mohi-price .mohi-price-body .mohi-asterisk {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: center;
  font-size: 8px;
  opacity: 0.4;
}
.mohi-price .mohi-price-body .mohi-price-cost {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding: 0 10px;
}
.mohi-price .mohi-price-body .mohi-price-cost .mohi-number {
  font-size: 32px;
  color: #FFC107;
  font-weight: 600;
  margin-bottom: 0;
}
.mohi-price .mohi-price-body .mohi-price-cost .mohi-number span {
  color: #fafafc;
  font-size: 12px;
  font-weight: 200;
  padding: 0 5px;
  opacity: 0.6;
}
.mohi-price .mohi-price-body .mohi-price-cost .mohi-number sup {
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 0;
  opacity: 0.6;
}
.mohi-price .mohi-price-body .mohi-price-list {
  padding: 0;
  margin: 0 0 30px;
}
.mohi-price .mohi-price-body .mohi-price-list li {
  list-style-type: none;
  margin-bottom: 15px;
}
.mohi-price .mohi-price-body .mohi-price-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 5px;
  font-size: 9px;
  color: #FFC107;
}
.mohi-price .mohi-price-body .mohi-price-list li.mohi-empty-item {
  opacity: 0.3;
}
.mohi-price .mohi-price-body .mohi-price-list li.mohi-empty-item:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  margin-right: 5px;
  font-size: 9px;
  color: #FFC107;
}
.mohi-price .mohi-price-body .mohi-link {
  margin: 0;
}

/* ----- testimonials ----- */
.mohi-testimonial-slider {
  width: 100%;
}

.mohi-testimonial {
  position: relative;
  background-size: cover;
  padding: 30px;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.mohi-testimonial .testimonial-body {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.mohi-testimonial .testimonial-body .mohi-testimonial-face {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 30px;
  top: -15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.mohi-testimonial .mohi-testimonial-footer {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.mohi-testimonial .mohi-testimonial-footer .mohi-star-rate {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 5px 15px;
  font-size: 10px;
  margin-top: 5px;
  background: #20202a;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFC107;
}
.mohi-testimonial .mohi-testimonial-footer .mohi-star-rate li {
  list-style-type: none;
  margin-right: 5px;
}
.mohi-testimonial .mohi-testimonial-footer .mohi-star-rate li.mohi-empty-item {
  color: rgba(43, 43, 53, 0.98);
}
.mohi-testimonial .mohi-testimonial-footer .mohi-testimonial-icon {
  position: absolute;
  left: 45%;
  top: 20px;
  opacity: 0.03;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  -ms-flex-item-align: center;
      align-self: center;
}

.mohi-slider-navigation {
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mohi-slider-navigation .swiper-pagination-bullet {
  margin-right: 10px;
  background-color: #8c8c8e;
  border-radius: 5px;
  opacity: 0.5;
  height: 4px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-slider-navigation .swiper-pagination-bullet:focus {
  outline: inherit;
}
.mohi-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background-color: #FFC107;
  opacity: 1;
}
.mohi-slider-navigation .mohi-slider-nav-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mohi-slider-navigation .mohi-slider-nav-frame .mohi-slider-nav {
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-slider-navigation .mohi-slider-nav-frame .mohi-slider-nav.swiper-button-disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.mohi-slider-navigation .mohi-slider-nav-frame .mohi-slider-nav:focus {
  outline: inherit;
}

/* ----- timeline ----- */
.mohi-timeline {
  position: relative;
}
.mohi-timeline::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 5px;
  height: calc(100% - 10px);
  width: 5px;
  background: #191923;
}
.mohi-timeline .mohi-timeline-item {
  position: relative;
}
.mohi-timeline .mohi-timeline-item .mohi-timeline-mark-light {
  background: #fafafc;
  position: absolute;
  top: 4px;
  right: -4px;
  width: 23px;
  height: 23px;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-timeline .mohi-timeline-item .mohi-timeline-mark {
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #FFC107;
  background: #1e1e28;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.mohi-timeline .mohi-timeline-item:hover .mohi-timeline-mark-light {
  -webkit-animation: puls 1s infinite;
          animation: puls 1s infinite;
}
.mohi-timeline .mohi-timeline-content {
  position: relative;
  margin-right: 45px;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.mohi-timeline .mohi-timeline-content:after {
  height: 10px;
  width: 10px;
  background-color: rgba(43, 43, 53, 0.98);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  content: '';
  position: absolute;
  top: 11px;
  right: -5px;
  border-top-right-radius: 50%;
}
.mohi-timeline .mohi-timeline-content .mohi-card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mohi-timeline .mohi-timeline-content .mohi-card-header .mohi-right-side {
  margin-bottom: 15px;
}
.mohi-timeline .mohi-timeline-content .mohi-card-header .mohi-right-side .mohi-date {
  color: #646466;
  margin-left: auto;
  background: #20202a;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  font-size: 10px;
}

/* ----- contact form ----- */
.mohi-form-field input,
.mohi-form-field textarea {
  height: 50px;
  width: 100%;
  background: linear-gradient(159deg, #252532 0%, #23232d 100%);
  border: none;
  color: #fafafc;
  padding-left: 65px;
  padding-right: 15px;
  -webkit-box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  margin-bottom: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

::-webkit-input-placeholder {
  color: #646466;
}

:-ms-input-placeholder {
  color: #646466;
}

::-ms-input-placeholder {
  color: #646466;
}

::placeholder {
  color: #646466;
}

.mohi-form-field textarea {
  padding-left: 15px;
  padding-top: 15px;
  height: 150px;
  border-left: solid 50px #20202a;
}
.mohi-form-field textarea.mohi-active {
  border-color: #FFC107;
}
.mohi-form-field textarea:focus {
  border-color: #FFC107;
}

.mohi-contact-form .mohi-input:focus {
  outline: none;
}

.mohi-contact-form .mohi-input.mohi-active + label,
.mohi-contact-form .mohi-input:focus + label {
  background: #FFC107;
  color: #20202a;
}

.mohi-form-field {
  position: relative;
  margin-bottom: 30px;
}

.mohi-contact-form label {
  text-align: center;
  color: #8c8c8e;
  position: absolute;
  height: 50px;
  width: 50px;
  background: #20202a;
  top: 0;
  left: 0;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: text;
}

.mohi-submit-frame {
  position: relative;
  height: 45px;
}
.mohi-submit-frame .mohi-submit {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
.mohi-submit-frame .mohi-submit:focus {
  outline: inherit;
}
.mohi-submit-frame .mohi-success {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
  overflow: hidden;
  max-width: 150px;
  -webkit-transform: scale(0);
          transform: scale(0);
  text-transform: uppercase;
  color: #fafafc;
  background: #20202a;
  letter-spacing: 1.5px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  height: 0;
  font-size: 11px;
  padding: 15px 35px 0;
  margin: 0;
}

/* ----- blog ----- */
.mohi-blog-card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  margin-bottom: 30px;
}
.mohi-blog-card .mohi-port-cover {
  position: relative;
  padding-bottom: 60%;
  display: block;
  background-color: white;
}
.mohi-blog-card .mohi-port-cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-blog-card .mohi-post-description {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 30px;
  position: relative;
  bottom: 0;
  min-height: 252px;
}
.mohi-blog-card:hover .mohi-port-cover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.mohi-blog-slider .mohi-blog-card {
  margin-bottom: 0;
}

/* ----- pagination ----- */
.mohi-pagination {
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 30px 30px 25px;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mohi-pagination .mohi-pagination-center {
  text-align: center;
  position: absolute;
  width: 200px;
  left: 50%;
  top: 25px;
  margin-left: -100px;
}
.mohi-pagination .mohi-pagination-center a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  padding: 0 5px;
}
.mohi-pagination .mohi-pagination-center a.mohi-active-pag {
  color: #FFC107;
}
.mohi-pagination .mohi-link {
  margin: 0;
}

/* ----- brands ----- */
.mohi-brand {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  opacity: 0.6;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-brand:hover {
  opacity: 1;
}

/* ----- footer ----- */
footer {
  width: 100%;
  padding: 17px 30px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  font-size: 11px;
  color: #8c8c8e;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  z-index: 9;
}
footer div {
  margin-bottom: 10px;
}
footer a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: #fafafc;
}

/* ------------------------------

portfolio

------------------------------ */
/* ----- filter ----- */
.mohi-filter a {
  color: #8c8c8e;
  margin-bottom: 0;
}
.mohi-filter a.mohi-current {
  color: #fafafc;
}

/* ----- portfolio items ----- */
.mohi-portfolio-item-frame {
  display: block;
  width: 100%;
  outline: inherit;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  position: relative;
  padding-bottom: 60%;
}
.mohi-portfolio-item-frame img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(85%) blur(0);
          filter: brightness(85%) blur(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-portfolio-item-frame .mohi-item-hover {
  width: 27px;
  height: 27px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  border-radius: 50%;
  position: absolute;
  color: #fafafc;
  top: 30px;
  left: 30px;
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
  font-size: 11px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.mohi-portfolio-item-frame:hover .mohi-item-hover {
  opacity: 0.5;
}
.mohi-portfolio-item-frame:hover .mohi-item-hover:hover {
  opacity: 1;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.mohi-portfolio-item-frame:hover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: brightness(100%) blur(0);
          filter: brightness(100%) blur(0);
}

.mohi-grid {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  width: 100%;
  /* clear fix */
}
.mohi-grid:after {
  content: '';
  display: block;
  clear: both;
}
.mohi-grid .mohi-grid-item {
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: auto;
  padding: 0 15px;
}
.mohi-grid .mohi-grid-item .mohi-item-description {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 15px;
  width: calc(100% - 29px);
  padding: 30px;
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.98) 0%, rgba(43, 43, 53, 0.98) 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.mohi-grid .mohi-grid-item:hover .mohi-item-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.mohi-grid.mohi-grid-2-col .mohi-grid-item {
  width: 50%;
}
.mohi-grid.mohi-grid-2-col .mohi-grid-item .mohi-portfolio-item-frame.mohi-horizontal {
  padding-bottom: 66.7%;
}
.mohi-grid.mohi-grid-2-col .mohi-grid-item .mohi-portfolio-item-frame.mohi-vertical {
  padding-bottom: 140%;
}
.mohi-grid.mohi-grid-2-col .mohi-grid-item .mohi-portfolio-item-frame.mohi-square {
  padding-bottom: 90%;
}
.mohi-grid.mohi-grid-3-col .mohi-grid-item {
  width: 33.3333%;
}
.mohi-grid.mohi-grid-3-col .mohi-grid-item .mohi-portfolio-item-frame.mohi-horizontal {
  padding-bottom: 65%;
}
.mohi-grid.mohi-grid-3-col .mohi-grid-item .mohi-portfolio-item-frame.mohi-vertical {
  padding-bottom: 140%;
}
.mohi-grid.mohi-grid-3-col .mohi-grid-item .mohi-portfolio-item-frame.mohi-square {
  padding-bottom: 90%;
}

/* ----- touch device ----- */
@media (pointer: coarse) {
  .mohi-portfolio-item-frame .mohi-item-hover {
    opacity: 0.5;
  }

  .mohi-grid .mohi-grid-item .mohi-item-description {
    position: relative;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .mohi-grid .mohi-grid-item:hover .mohi-item-description {
    -webkit-transform: none;
            transform: none;
  }
}
/* ----- single project ----- */
.mohi-project-cover {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  margin-bottom: 30px;
}
.mohi-project-cover .mohi-portfolio-item-frame {
  padding-bottom: 50%;
}

.mohi-project-category {
  color: #646466;
  margin-left: auto;
  display: inline;
  background: #20202a;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  font-size: 10px;
}

/* ----- fancybox customization ----- */
.fancybox-container {
  margin: 15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
}
.fancybox-container .fancybox-bg {
  background: rgba(32, 32, 42, 0.98);
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-toolbar {
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 30px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  z-index: 999999;
  padding: 0 17px;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.fancybox-toolbar .fancybox-button {
  background: transparent;
  color: #8c8c8e;
}
.fancybox-toolbar .fancybox-button:hover {
  color: #fafafc;
}
.fancybox-toolbar .fancybox-button svg {
  width: 20px;
}

.fancybox-slide--image {
  padding: 130px 0 60px;
}

.fancybox-navigation .fancybox-button {
  background-color: transparent;
  margin: 0 15px;
}

.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 11px;
  margin-left: 5px;
  z-index: 9999999999999;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: #8c8c8e;
}

.fancybox-progress {
  background: #FFC107;
  z-index: 999999999999999999;
}

.fancybox-content .fancybox-image {
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.fancybox-thumbs {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.fancybox-thumbs__list a:before {
  border-color: #FFC107;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.fancybox-button[disabled] {
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.mohi-recomendation-popup {
  background-color: transparent;
  max-width: 50%;
}

/* ------------------------------

content (after 1600px)

------------------------------ */
@media (max-width: 1600px) {
  .mohi-banner .mohi-banner-overlay .mohi-banner-title h1 {
    color: #fafafc;
    font-size: 42px;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-photo {
    width: 360px;
  }
}
/* ------------------------------

content (after 1400px)

------------------------------ */
@media (max-width: 1400px) {
  .mohi-banner-back {
    display: none;
  }

  .mohi-banner .mohi-banner-overlay .mohi-banner-title h1 {
    color: #fafafc;
    font-size: 36px;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-photo {
    width: 320px;
  }
}
/* ------------------------------

content (after 1200px)

------------------------------ */
@media (max-width: 1200px) {
  .mohi-banner .mohi-banner-overlay .mohi-banner-photo {
    display: none;
  }

  .mohi-grid.mohi-grid-2-col .mohi-grid-item {
    width: 50%;
  }
  .mohi-grid.mohi-grid-3-col .mohi-grid-item {
    width: 50%;
  }
}
/* ------------------------------

content (after 920px)

------------------------------ */
@media (max-width: 920px) {
  .mohi-banner .mohi-banner-overlay {
    padding: 60px 30px;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-title {
    text-align: center;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-title h1 {
    color: #fafafc;
    font-size: 46px;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-title .mohi-buttons-frame {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-title .mohi-buttons-frame a {
    max-width: 200px;
    margin: 0 auto;
  }
  .mohi-banner .mohi-banner-overlay .mohi-banner-title .mohi-buttons-frame a:first-child {
    margin-bottom: 15px;
  }

  .mohi-code {
    min-height: 70px;
    margin-bottom: 0;
  }

  .mohi-timeline .mohi-timeline-content {
    margin-right: 30px;
  }

  .fancybox-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  .fancybox-toolbar {
    width: 100vw;
  }

  .fancybox-navigation {
    width: 100%;
    position: absolute;
    bottom: 35px;
  }
}
/* ------------------------------

content (after 768px)

------------------------------ */
@media (max-width: 768px) {
  .mohi-section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mohi-section-title .mohi-right-frame {
    margin-left: auto;
    margin-right: auto;
  }

  .mohi-grid.mohi-grid-2-col .mohi-grid-item {
    width: 100%;
  }
  .mohi-grid.mohi-grid-3-col .mohi-grid-item {
    width: 100%;
  }

  .mohi-filter {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mohi-filter a {
    margin: 0 0 10px;
  }

  .mohi-m-hidden {
    display: none;
  }
}
/* ------------------------------

content (after 500px)

------------------------------ */
@media (max-width: 500px) {
  .mohi-section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mohi-section-title .mohi-right-frame {
    margin-left: auto;
    margin-right: auto;
  }

  .mohi-grid.mohi-grid-2-col .mohi-grid-item {
    width: 100%;
  }
  .mohi-grid.mohi-grid-3-col .mohi-grid-item {
    width: 100%;
  }
}
/* ------------------------------

burger button

------------------------------ */
.mohi-menu-bar-btn {
  margin-top: -10px;
  display: inline-block;
  width: 15px;
  height: 12px;
  padding: 30px;
}
.mohi-menu-bar-btn span, .mohi-menu-bar-btn span:after, .mohi-menu-bar-btn span:before {
  content: "";
  display: block;
  width: 15px;
  height: 3px;
  border-radius: 1px;
  background: #8c8c8e;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.mohi-menu-bar-btn span {
  position: relative;
  margin: 5px 0 0;
}
.mohi-menu-bar-btn span:after, .mohi-menu-bar-btn span:before {
  position: absolute;
}
.mohi-menu-bar-btn span:before {
  top: -5px;
}
.mohi-menu-bar-btn span:after {
  top: 5px;
}
.mohi-menu-bar-btn.mohi-active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mohi-menu-bar-btn.mohi-active span:before {
  -webkit-transform: translate(0px, 5px) rotate(-90deg);
          transform: translate(0px, 5px) rotate(-90deg);
}
.mohi-menu-bar-btn.mohi-active span:after {
  -webkit-transform: translate(0px, -5px) rotate(-90deg);
          transform: translate(0px, -5px) rotate(-90deg);
}
.mohi-menu-bar-btn:hover span, .mohi-menu-bar-btn:hover span:after, .mohi-menu-bar-btn:hover span:before {
  background: #fafafc;
}

/* ------------------------------

transitions

------------------------------ */
.mohi-a {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}

/* ----- in animation ----- */
.transition-fade {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  opacity: 1;
}
.transition-fade .mohi-a {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.transition-fade .mohi-price.mohi-popular-price {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* ----- out animation ----- */
html.is-animating .transition-fade {
  opacity: 0;
}
html.is-animating .transition-fade .mohi-a {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  opacity: 0;
}

html.is-animating .mohi-a, html.is-animating .mohi-current-page {
  opacity: 0;
}

/* ----- in animation ----- */
.fade-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/* ----- out animation ----- */
html.is-animating .fade-right {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: 0;
}

/* ----- in animation ----- */
.fade-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/* ----- out animation ----- */
html.is-animating .fade-left {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  opacity: 0;
}

@media (max-width: 920px) {
  .transition-fade .mohi-price.mohi-popular-price {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
