/* ------------------------------

app marcup

------------------------------ */
/* ----- top background ----- */
.mohi-top-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  background-position: center;
  height: 400px;
  background-size: cover;

  & .mohi-top-bg-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: $top-bg-gradient;
  }
}
/* ----- preloader ----- */
.mohi-preloader {
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background: $info-bar-1-color;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;

  & .mohi-preloader-content {
    margin-bottom: 15px;
    text-align: center;

    & .mohi-preloader-load {
      margin-top: 5px;
      width: 200px;

      & .progressbar-text {
        position: relative;
        font-size: 14px;
        font-weight: 400 !important;
        color: $text-color-2 !important;
        height: 300px;
        line-height: 350px;
      }
    }
  }
}
.mohi-preloader-load {
  & path {
    &:first-child {
      stroke: $deep-color;
    }
    &:last-child {
      stroke: $main-color;
    }
  }
}
/* ----- scroll frame ----- */
.mohi-scroll-frame {
  width: 100%;
  height: calc(100vh - 30px);
}

.scrollbar-track {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* ----- app ----- */
.mohi-app {
  padding: 15px;
  background: $deep-color;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;

  & * {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  /* ----- mobile top bar ----- */
  & .mohi-mobile-top-bar {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 70px;
    background: $info-bar-1-color;
    box-shadow: $shadow-1;
    padding: 0 30px;
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  & .mohi-app-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: $content-color;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow-1;

    & .mohi-app-container {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      /* ----- info bar ----- */
      & .mohi-info-bar {
        background: $info-bar-1-color;
        width: 290px;
        min-width: 290px;
        height: calc(100vh - 30px);
        position: relative;
        z-index: 999;
        box-shadow: $shadow-1;
        transition: $tr-lg;

        & .mohi-info-bar-frame {
          padding: 0 15px;

          & .mohi-info-bar-header {
            width: 100%;
            height: 70px;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 999999999999;
            display: none;

            & .mohi-info-bar-btn {
              margin-left: auto;
              pointer-events: all;
              font-size: 14px;
              padding: 30px;

              &.mohi-disabled {
                opacity: 0;
                pointer-events: none;
              }
            }
          }

          & .mohi-scroll-frame {
            & .scroll-content {
              padding: 240px 0 50px;
            }
          }
        }
      }
      /* ----- content ----- */
      & .mohi-content {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: calc(100vh - 30px);
        padding-right: 80px;
        transition: $tr-lg;

        & .mohi-curtain {
          background: $content-color-s-light;
          position: absolute;
          z-index: 9;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          opacity: 0;
          transition: $tr-lg;
        }

        &.mohi-active {
          transform: translateX(-150px);

          & .mohi-curtain {
            pointer-events: all;
            opacity: 0.7;
          }
        }
      }
      /* ----- menu bar ----- */
      & .mohi-menu-bar {
        background: $info-bar-1-color;
        width: 230px;
        height: calc(100vh - 30px);
        position: absolute;
        z-index: 99;
        right: -150px;
        top: 0;
        bottom: 0;
        box-shadow: $shadow-1;
        transition: $tr-lg;

        & .mohi-menu-bar-frame {
          position: relative;

          & .mohi-menu-bar-header {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            box-shadow: $shadow-2;
            background: $info-bar-2-color-light;

            & .mohi-menu-bar-btn {
              pointer-events: all;

              &.mohi-disabled {
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }

        &.mohi-active {
          transform: translateX(-150px);
        }
      }
    }
  }
}
/* ------------------------------

app marcup (after 920px)

------------------------------ */
@media (max-width: 920px) {
  /* ----- container ----- */
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ----- preloader ----- */
  .mohi-preloader {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  /* ----- scroll frame ----- */
  .mohi-scroll-frame {
    height: 100vh;
  }

  .mohi-app {
    padding: 0;
    /* ----- mobile top bar ----- */
    & .mohi-mobile-top-bar {
      display: flex;
    }

    & .mohi-app-wrapper {
      border-radius: 0;
      height: 100vh;

      & .mohi-app-container {
        width: 100%;
        /* ----- info bar ----- */
        & .mohi-info-bar {
          position: absolute;
          left: -290px;
          width: 290px;
          height: 100vh;

          &.mohi-active {
            transform: translateX(290px);
          }

          & .mohi-info-bar-frame {
            & .mohi-info-bar-header {
              display: flex;

              & .mohi-info-bar-btn {
                transform: translateX(70px);
                transition: $tr-md;
              }
            }
          }

          &.mohi-active {
            & .mohi-info-bar-frame {
              & .mohi-info-bar-btn {
                transform: translateX(0);
              }
            }
          }
        }
        /* ----- content ----- */
        & .mohi-content {
          position: relative;
          width: 100vw;
          height: 100vh;
          padding-right: 0;
          padding-top: 70px;

          .mohi-scroll-frame {
            height: calc(100vh - 70px);
          }

          &.mohi-active {
            transform: none;

            & .mohi-curtain {
              pointer-events: all;
              opacity: 1;
            }
          }
        }
        /* ----- menu bar ----- */
        & .mohi-menu-bar {
          position: absolute;
          right: -230px;
          width: 230px;
          height: 100vh;

          &.mohi-active {
            transform: translateX(-230px);
          }

          & .mohi-menu-bar-btn {
            transform: translateX(-80px);
            transition: $tr-md;
          }

          &.mohi-active {
            & .mohi-menu-bar-btn {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
/* ------------------------------

app marcup (after 290px)

------------------------------ */
@media (max-width: 290px) {
  .mohi-app {
    /* ----- info bar ----- */
    & .mohi-info-bar {
      width: 100vw;
    }
  }
}
/* ------------------------------

app marcup (after 230px)

------------------------------ */
@media (max-width: 230px) {
  .mohi-app {
    /* ----- menu bar ----- */
    & .mohi-menu-bar {
      width: 100vw;
    }
  }
}

.mohi-app-onepage {
  & .mohi-app-wrapper {
    & .mohi-app-container {
      & .mohi-content {
        padding-right: 0;
      }
    }
  }
}
